/*===========================
    |---- Everything ----|
============================*/
* {
    box-sizing:border-box;
}

/*===========================
    |---- Base Page ----|
============================*/
header {
    display:flex;
}
.nav-btns {
    border-radius:5em;
    box-shadow:.8%;
}

/*==========================
    |---- Card Grid ----|
============================*/
.card-grid {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.char-card {
    margin:.5em;
    padding:1%;
    border:.25em solid seagreen;
}

/*==========================
    |---- Ep Card ----|
============================*/
.ep-card{
    padding:.25em;
}