/*===========================
    |---- Everything ----|
============================*/
* {
    box-sizing:border-box;
}

/*===========================
    |---- Base Page ----|
============================*/
header {
    display:flex;
}
.nav-btns {
    border-radius:5em;
    box-shadow:.8%;
}

/*==========================
    |---- Card Grid ----|
============================*/
.card-grid {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

.char-card {
    padding:.75%;
    border:.25em solid seagreen;
}