/*===========================
    |---- Everything ----|
============================*/
* {
    box-sizing:border-box;
    border:.18em solid seagreen;
}

/*===========================
    |---- Base Page ----|
============================*/
header {
    display:flex;
}
.nav-btns {
    border-radius:5em;
    box-shadow:.8%;
}

/*==========================
    |---- Card Grid ----|
============================*/
.card-grid {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.card {
    margin:.5em;
    padding:1%;
    border:.2em solid crimson;
}

/*==========================
    |---- Ep Card ----|
============================*/
.ep-card{
    background-image: url("https://i.imgur.com/M4yxOUV.png");
}